@import url('https://fonts.googleapis.com/css?family=Quicksand');

body.admin{
  min-height: 500px;
  padding-top: 70px;
  padding-bottom: 50px;
}

.m-t-1em { margin-top:1em; }
.m-r-1em { margin-right:1em; }
.m-b-1em { margin-bottom:1em; }
.m-l-1em { margin-left:1em; }
.mt0 { margin-top:0; }

select.no-arrow{
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.link1{
	text-decoration: none;
	color: white;
}
.link1:hover{
	text-decoration: none;
	color: yellow;
}

p.firsat{
  margin: 0;
  padding: 0;
}

.baslik{
  font-family: 'Quicksand', sans-serif;
}

.link2{
  text-decoration: none;
  color: black;
}
.link2:hover{
  text-decoration: none;
  color: grey;
}

.sepet-tablo > tbody > tr > td {
  text-align: center;
  vertical-align: middle;
}
.sepet-tablo > thead > tr > th {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

.sepet-tablo td {
  vertical-align: middle !important;
}